// color
$primary-bg-color: #E5E5E5;
$secondary-bg-color: #F0F1F3;
$white-text: #FFFFFF;
$black: #212121;
$blue: #264061;
$orange: #FC842D;
$text-gray: #9B9FAA;
$decoration-gray:#E0E0E0;

// // transitions
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$primary-font: 'Raleway', sans-serif;
$second-font: 'Arimo', sans-serif;
