@import '../../sass/_mixin.scss';
.container {
  @include mob {
    max-height: 252px;
    width: 280px;
    overflow-y: scroll;
  }
  @include tablet {
    max-height: 271px;
    width: 610px;
  }
  @include comp {
    max-height: 271px;
    width: 623px;
  }
}
.container::-webkit-scrollbar {
  @include mob {
    width: 6px;
    background-color: #264061;
  }
}
.container::-webkit-scrollbar-thumb {
  @include mob {
    border-radius: 6px;
    background-color: #18aaaa;
  }
}
.container::-webkit-scrollbar-track {
  @include mob {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #f9f9fd;
  }
}

.container .list {
  @include mob {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #212121;
  }
}

.item:nth-child(1) {
  @include mob {
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 8px;
    width: 130px;
    height: 24px;
  }
  @include tablet {
    margin-right: 22px;
    min-width: 240px;
    height: 40px;
  }
  @include comp {
    margin-right: 48px;
    min-width: 240px;
    height: 40px;
  }
}

.item:nth-child(2) {
  @include mob {
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 8px;
    width: 49px;
    text-align: center;
  }
  @include tablet {
    margin-right: 46px;
    min-width: 107px;
    text-align: end;
  }

  @include comp {
    margin-right: 32px;
    min-width: 107px;
    text-align: end;
  }
}
.item:nth-child(3) {
  @include mob {
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 17px;
    width: 58px;
    text-align: center;
  }
  @include tablet {
    margin-right: 32px;
    min-width: 107px;
    text-align: end;
  }
}
.button {
  @include mob {
    margin-right: 14px;
    margin-bottom: 16px;
    border-color: transparent;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  @include tablet {
    margin-right: 34px;
    margin-bottom: 16px;
  }
}
