.RightSideBar {
  background: var(--secondary-bg-color);
  font-family: 'Arimo';
  padding-left: 94px;
}

.RightSideBarTitle {
  width: 330px;
  height: 17px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #212121;
}

.RightSideBarTable {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 64px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: var(--text-gray);
}

.RightSideBarTableFirst {
  width: 182px;
}

.RightSideBarTableSecond {
  width: 88px;
  text-align: end;
}

.RightSideBarText {
  composes: RightSideBarTable;
}
