@import '../../sass/_mixin.scss';

.container {
  @include mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 43px;
    background-color: var(--secondary-bg-color);
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    gap: 79px;
    padding: 80px 32px;
    background-image: url(../../assets/images/sideBar/leaves-1x-768.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .container {
        background-image: url(../../assets/images/sideBar/leaves-2x-768.png);
      }
    }
  }
  @include comp {
    width: 517px;
    flex-direction: column;
    gap: 60px;
    padding-left: 106px;
    padding-right: 123px;
    padding-top: 149px;
    margin: 0;
    background-image: url(../../assets/images/sideBar/leaves-1x-1280.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .container {
        background-image: url(../../assets/images/sideBar/leaves-2x-1280.png);
      }
    }
  }
}

.rightSideBarTitle {
  font-family: var(----secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--black);
  margin: 0 0 20px;
}

.rightSideBarList {
  padding: 0;
}

.rightSideBarItem {
  @include mob {
    display: flex;
    justify-content: space-between;
    width: 285px;
  }

  @include tablet {
    width: 288px;
  }
}

.rightSideBarItem:not(:last-child) {
  margin-bottom: 15px;
}

.itemText {
  font-family: var(----secondary-font);
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--text-gray);
}

// .itemTextKcal {
//   @include mob {
// font-family: var(----secondary-font);
//   font-size: 14px;
//   line-height: 1.21;
//   letter-spacing: 0.04em;
//   color: var(--text-gray);
//   }

//     @include tablet {

//     }

// }

.notAllowedProductsList {
  padding: 0;
  list-style: none;
}
