.btn {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    
    background-color: var(--orange);
    color: var(--white-text);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    border-color: transparent;
}

.startLosingBtn {
    composes: btn;
    width: 210px;
    padding: 13px 25px;
}

.loginBtn {
    composes: btn;
    width: 181px;
    padding: 13px 51px;
}

.registerBtn {
    composes: btn;
    background-color: var(--white-text);
    color: var(--orange);
    border: 2px solid #FC842D;
    width: 181px;
    padding: 13px 37px;
    box-shadow: none;
}