.btn {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  background-color: var(--orange);
  color: var(--white-text);
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  transition: all 250ms linear;
}

.startLosingBtn {
  font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    background-color: var(--orange);
    color: var(--white-text);
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
  width: 210px;
  padding: 13px 25px;
}

.loginBtn {
  font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    background-color: var(--orange);
    color: var(--white-text);
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
  width: 181px;
  padding: 13px 51px;
}

.registerBtn {
  font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    background-color: var(--orange);
    color: var(--white-text);
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
  background-color: var(--white-text);
  color: var(--orange);
  border: 2px solid #fc842d;
  width: 181px;
  padding: 13px 37px;
  box-shadow: none;
}
