@import '../../styles/vars.css';
.containerPrivate {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .containerPrivate {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .containerPrivate {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .containerPrivate {
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.containerPublic {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .containerPublic {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .containerPublic {
    padding-top: 20px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .containerPublic {
    padding-top: 80px;
    padding-left: 16px;
  }
}

.body {
display: flex;
flex-direction: column;
}

.backgraundImg {
  composes: body;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top right, bottom right;
  background-size: 980px 850px;
  background-image: url(../../assets/images/fruits/fruts-comp-1x.png),
    url(../../assets/images/fruits/backgrond.png);

  @media screen and (min-width: 200px) and (max-width: 767px) {
    background-image: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../../assets/images/fruits/fruits2-tab-1x.png);
    background-size: 768px 1024px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/images/fruits/fruits2-tab-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../../assets/images/fruits/fruts-comp-1x.png),
      url(../../assets/images/fruits/backgrond.png);
    background-size: 980px 850px, auto 100%;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 980px 850px, auto 100%;
      background-image: url(../../assets/images/fruits/fruts-comp-2x.png),
        url(../../assets/images/fruits/backgrond.png);
    }
  }
}
.secondaryBcg {
  composes: body;
  min-height: 100vh;
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
      to left,
      var(--secondary-bg-color) 0px,
      var(--secondary-bg-color) 517px,

      transparent 517px
    );
  }
}

.main {
  flex-grow: 1;
}
