@import '../../sass/_mixin.scss';

.navigation {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1280px) {
    height: 32px;
    border-left: 2px solid #e0e0e0;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 40px;
  }
}

.navlink {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.92;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
}

.first {
  composes: navlink;
  color: #9b9faa;
  margin-right: 16px;
}

.second {
  composes: navlink;
  color: #9b9faa;
  margin-right: 16px;
}

.first:hover,
.first:focus {
  color: #212121;
}
.second:hover,
.second:focus {
  color: #212121;
}
