@import '/src/sass/mixin';
@import '/src/styles/vars.css';

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.12);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  text-align: center;
  font-family: 'Arimo';
  font-style: normal;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-text);

  @include mob {
    width: 100%;
    height: 100%;
  }

  @include tablet {
    width: 672px;
    height: 573px;
    padding: 0 32px;
  }

  @include comp {
    padding: 0 16px;
  }
}

.ModalCloseIcon {
  @include mob {
    display: none;
  }
  @include tablet {
    background-color: inherit;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
  }
}

.ModalCloseIcon:hover,
.ModalCloseIcon:focus {
  background-color: var(--orange);
  border-radius: 50%;
  transition: background-color var(--transition-time) var(--transition-function);
}

.BackMenu {
  @include mob {
    background-color: #eff1f3;
    height: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    outline: none;
    border: none;
  }
  @include tablet {
    display: none;
  }
}

.ModalTitle {
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  color: var(--black);

  @include mob {
    font-size: 18px;
    line-height: 1.44;
    word-wrap: break-word;
    text-align: left;
    margin-top: 40px;
    // @include font(0, 18, 1.44, 0, 0);
    padding-left: 20px;
  }

  @include tablet {
    font-size: 26px;
    line-height: 1.23;
    width: 380px;
    margin-top: 64px;
    // @include font(0, 26, 1.23, 0, 0);
    text-align: center;
  }
}

.ModalLine {
  border-bottom: 1px solid#E0E0E0;
  padding-bottom: 32px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  @include mob {
    width: 280px;
  }
  @include tablet {
    width: 330px;
  }
}

.btn {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  background-color: var(--orange);
  color: var(--white-text);
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  border-color: transparent;
}

.startLosingBtn {
  composes: btn;
  width: 210px;
  padding: 13px 25px;
  text-decoration: none;
}

.placeholder {
  font-style: italic;
}

.ModalNumberCalories {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--blue);
  @include mob {
    margin-top: 40px;
  }
  @include tablet {
    margin-top: 20px;
  }
}

.ModalCalories {
  composes: ModalNumberCalories;
  font-size: 18px;
}

.ModalTitleSecond {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--black);
  margin-bottom: 20px;
  @include mob {
    margin-top: 20px;
  }
  @include tablet {
    margin-top: 12px;
  }
}
.ModalListNotEat {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--text-gray);
  text-align: left;

  margin-bottom: 40px;

  @include mob {
    padding: 0 20px;
    padding-inline-start: 20px;
  }
  @include tablet {
    margin-left: 171px;
  }
}
.ModalListNotEatItem {
  margin-left: 20px;
}
